click==8.1.8
dash>==3.0.1
plotly>==6.0
dash-design-kit==2.0.0
gunicorn==23.0.0
numpy==2.2.4
redis==5.2.1
celery==5.5.0
colorcet==3.1.0
dash-iconify==0.1.2
dash-ag-grid==31.3.1
pandas==2.2.3
psycopg2-binary==2.9.10
sqlalchemy==1.4.54
dash_enterprise_libraries==1.7.1