click==8.1.7
dash-design-kit==1.6.7
gunicorn==20.0.4
numpy>=1.19.5
pandas==1.1.4
dash-bootstrap-components
dash-mantine-components
redis==3.5.*
SQLAlchemy==1.3.20
pg8000==1.16.5
celery==4.4.7
colorcet==3.0.0
dash-iconify
importlib-metadata==4.13.0